.App {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  border-bottom: solid 1px;
}

.nav-link a{
  text-decoration: none;
  margin-left: 10px;
  color: black;
}

.date {
  font-weight: initial;
}
